.container {
    color: #ff6ec7;
    background-color: #000;
    display: grid;
    grid-template-areas:
        "header header header ."
        ". card card ."
    ;
    width: 80vw;
    margin: 0 1em;
}

.page_header {
    grid-area: header;
}

.project_container {
    grid-area: card;
}

@media (max-width: 650px) {
    .container {
        width: 70vw;
    }
}