.form {
    padding: 3rem;
    width: 20rem;
    margin: 0 1em;
}

.input_text {
    display: flex;
    flex-direction: column;
    border: 0.5em dotted #00CCFF;
    animation: lightsBlink 2s linear infinite;
    outline: 0.25rem double #FF6EC7;
    margin-bottom: 0.5em;
    position: relative;
}

@keyframes lightsBlink {

    0%,
    100% {
        border-color: #00CCFF;
        box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
    }

    50% {
        border-color: rgba(0, 204, 255, 0.5);
        box-shadow: 0 0 10px rgba(0, 204, 255, 0.8);
    }
}

.input_text textarea {
    resize: vertical;
    min-height: 2rem;
}